* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
.header {
    background-color: aqua;
    height: 100px;
}
.parent_content {
    overflow: hidden;
}
.left_content {
    background-color: blue;
    width: 50%;
    height: 500px;
    float: left;
}

.right_content {
    background-color: burlywood;
    width: 50%;
    height: 500px;
    float: right;
}

.main_content {
    background-color: cornflowerblue;
    height: 400px;
}

.footer {
    background-color: darkcyan;
    height: 80px;
}